In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

##piracy_data = pd.read_csv(filepath_or_buffer='./piracydataset.csv')
sales_data = pd.read_csv(filepath_or_buffer='./vgsales.csv')
#idade_media_pirataria = pd.DataFrame(piracy_data, columns=['age','version'])

print(sales_data[sales_data['Name'] == 'God of War'])
print('---------------------------------------------------------')
print(sales_data[sales_data['Name'] == 'Pokemon Red/Pokemon Blue'])
print('---------------------------------------------------------')
print(sales_data[sales_data['Name'] == 'Dragon Ball Z: Budokai Tenkaichi 3'])
print('---------------------------------------------------------')
print(sales_data[sales_data['Name'] == 'LEGO Star Wars: The Complete Saga'])
print('---------------------------------------------------------')
sales_data[sales_data['Publisher'] == 'Nintendo'].describe()

     Rank        Name Platform    Year   Genre                    Publisher  \
245   246  God of War      PS2  2005.0  Action  Sony Computer Entertainment

     NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
245      2.71      1.29      0.02         0.43          4.45
---------------------------------------------------------
   Rank                      Name Platform    Year         Genre Publisher  \
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
4     11.27      8.89     10.22          1.0         31.37
---------------------------------------------------------
      Rank                                Name Platform    Year     Genre  \
469    470  Dragon Ball Z: Budokai Tenkaichi 3      PS2  2007.0  Fighting
1991  1993  Dragon Ball Z: Budokai Tenkaichi 3      Wii  2007.0  Fighting

     Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
469      Atari      1.15      0.00      0.76         1.09          3.00
1991     Atari      0.33      0.37      0.26         0.09          1.04
---------------------------------------------------------
     Rank                               Name Platform    Year   Genre  \
150   151  LEGO Star Wars: The Complete Saga      Wii  2007.0  Action
212   213  LEGO Star Wars: The Complete Saga       DS  2007.0  Action
575   576  LEGO Star Wars: The Complete Saga     X360  2007.0  Action
657   659  LEGO Star Wars: The Complete Saga      PS3  2007.0  Action

     Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
150  LucasArts      3.66      1.63       0.0         0.53          5.83
212  LucasArts      2.89      1.54       0.0         0.46          4.90
575  LucasArts      1.53      0.87       0.0         0.24          2.64
657  LucasArts      1.02      0.97       0.0         0.39          2.38
---------------------------------------------------------

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,703.000000,696.00000,703.000000,703.000000,703.000000,703.000000,703.000000
mean,3860.830725,2003.83046,1.161977,0.595647,0.647824,0.135605,2.541337
std,4031.385208,7.77637,2.976782,1.736095,1.059476,0.462002,5.653126
min,1.000000,1983.00000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,719.000000,2000.00000,0.005000,0.000000,0.090000,0.000000,0.290000
50%,2335.000000,2005.00000,0.370000,0.120000,0.280000,0.030000,0.890000
75%,6009.500000,2009.00000,0.960000,0.480000,0.730000,0.090000,2.250000
max,16545.000000,2016.00000,41.490000,29.020000,10.220000,8.460000,82.740000